* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    object-fit: contain;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 90vw;
    max-width: 500px;
}
.name {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}
.description, .education {
    margin: 0px 20px;
    font-size: 20px;
    color: #ffa500;
}
.education {
    padding-top: 20px;
}
ul li {
    text-align: center;
    list-style: none;
    margin-bottom: 12px;
}
.profession {
    margin: 0 20px;
    font-size: 20px;
}
